.quiz-play-node-component {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.quiz-play-node-component.link {
    margin-right: 0;
}

.quiz-play-node-component:first-child {
    padding-left: 0;
}